/* some style */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "ubuntu";
  font-weight: 300;
  color: #333;
}

input {
  font-family: "ubuntu";
}

.wrapper {
  width: 440px;
  margin: 80px auto;
  padding: 20px;
  background: #e1e1e1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.wrapper h1 {
  margin-bottom: 20px;
  border-bottom: 2px solid #4a4a4a;
  color: #4a4a4a;
  display: inline-block;
}

.wrapper ul {
  padding: 0;
  margin: 0;
}

.wrapper ul > li {
  list-style: none;
  padding-bottom: 4px;
  color: #555;
}

.wrapper ul > li input {
  margin-right: 10px;
}

.wrapper ul > li > a:hover {
  text-decoration: underline;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}

.items-done,.items-left {
  margin-top: 10px;
}

.items-done span:first-of-type,.items-left span:first-of-type {
  margin-right: 4px;
  display: inline-block;
  color: #777;
}

.do-btn {
  width: 400px;
  padding: 10px;
  font-size: 22px;
  margin: 20px 0 10px;
  color: #555;
}

.items-wrap {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.clear-btn {
  padding: 10px 20px;
  background: #008080;
  color: #fff;
  border: 0;
  font-size: 16px;
  margin: 20px 0 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.clear-btn:hover {
  background: #036666;
}

.filter-wrapper {
  margin-top: 20px;
}

.filter-wrapper ul {
  display: flex;
  justify-content: flex-end;
}

.filter-wrapper ul li {
  margin-left: 10px;
}

.filter-wrapper ul li a {
  text-decoration: none;
  color: #008080;
}
